﻿@model IEnumerable<deliverable_2.Models.ActivityQuestion>
@{
    Layout = null;
    int counter = 1;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ComputerActivity2</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</head>
<body class="p-3 mb-2 bg-secondary text-dark">
</body>
<body>
    <div>
        @foreach (var item in Model)
        {
            <br />
            <h5>Question @counter</h5>
            <label>@item.Question</label>
            <br />
            <input type="radio" value="@item.option1" />@item.option1
            <br />
            <input type="radio" value="@item.option2" />@item.option2
            <br />
            <input type="radio" value="@item.option3" />@item.option3
            <br />
            <input type="radio" value="@item.ActAnswer" />@item.ActAnswer
            <br />
            counter++;
        }
        <br />
        <button type="submit" class="btn btn-success">Mark</button>
        @using (Html.BeginForm("ComputerScreen", "ComputerActivity"))
            {
            <button type="submit" class="btn-success">Cancel</button>
        }
    </div>
</body>
</html>
