﻿
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>About</title>
    <link href="~/StyleSheet1.css" rel="stylesheet" />
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
</head>
<body class="bg-warning text-black">
    <div class="DIV">
        <h1>About</h1>
        <p1>Sustainable Development Goal 4: Quality Education</p1>
        <br />
        <div>
A Marks the Spot is a programme that was developed to provide quality education to all South Africans. Quality Education is the fourth Social Development Goal (SDG.) Achieving inclusive and quality education for all emphasises how education is one of the most powerful and proven tools for sustainable development.
This goal aims to provide the same access to affordable vocational training, which will then eliminate wealth and gender disparities, and achieve universal access to a higher quality education. It also aims to provide equal access to affordable vocational training which will equip all learners with the necessary skills to be able to have a better chance job opportunity.
Facts For Fun
enrolment in primary education in developing countries has reached 91%.
57 million primary-aged children remain out of school, more than half of them in sub-Sahara Africa.
In developing countries, 1 in 4 girls are not in school.
103 million youth worldwide lack basic literacy skills and more than 60% of them are women.
50% of all out-of-school children or primary school age live in conflict-affected areas.
6 of 10 children and adolescents are not achieving the minimum level of proficiency in reading and math
    </div>

<img src="https://www.unenvironment.org/sites/default/files/styles/ex/public/-07/E_SDG_Icons-04.jpg?itok=Ea9FMfsG "  alt="sdg"/>
        <br />
        <a href="@Url.Action("Settings","Data")">Return to subject content page.</a>

    </div>
</body>
</html>
