
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>About</title>
    <link href="~/StyleSheet1.css" rel="stylesheet" />
</head>
<body>
    <div class="DIV">
        <h1>About</h1>
        <p1>Sustainable Development Goal 4: Quality Education</p1>
        <br />
        <p3>This program was developed to help students obtain quality education. Quality education is the foundation to creating sustainable development. Access to relatable and inclusive education can help equip our students with skills and tools to help then be able to develop innovative solutions to some of the worlds problems.</p3>
        <br />
        <a href="@Url.Action("Settings","Data")">Return to subject content page.</a>

    </div>
</body>
</html>
