﻿
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ActivityD</title>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</head>


<body style="text-align:center" class="bg-danger text-black">
    <h1>Diversity Activities</h1>
    <div class="flex-container">
        <div class="row">
            <div class="col-*4* flex-item" style="width:400px">
                <img class="card-img-top" style="width:250px; height:200px" src="https://cdn1.msw.usc.edu/content/0f530cd191e14565afa199d6957ca754/200_Guide_DiversityWorkshop_act1.jpg" alt="act1.jpg" />
                <div class="card-body">
                    <h4 class="card-title" style="font-size:16px">Activity One</h4>
                    @using (Html.BeginForm("ADiversityActivity", "Data"))
                    {
                        <button type="submit" class="btn btn-primary btn-lg">Activity one</button>
                    }

                </div>
            </div>
        </div>
    </div>

    <div class="flex-container" style="text-align:center">
        <div class="row">
            <div class="col-*4* flex-item" style="width:400px">
                <img class="card-img-top" style="width:250px; height:200px" src="https://cdn3.msw.usc.edu/content/494ebc2a088a46deafad646ae14aaf80/200_Guide_DiversityWorkshop_act2.jpg" alt="act2.jpg" />
                <div class="card-body">
                    <h4 class="card-title" style="font-size:16px">Activity Two</h4>
                    @using (Html.BeginForm("MDiversityActivity", "Data"))
                    {
                        <button type="submit" class="btn btn-primary btn-lg">Activity two</button>
                    }
                </div>
            </div>
        </div>

    </div>
</body>
</html>
