﻿
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>SubjectContent</title>
    <link href="~/StyleSheet1.css" rel="stylesheet" />
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
</head>
<body style="background-color: lightblue">

    <div class="DIV">

        <h1>Select your activity subject</h1>
        <p>Please note that the activities below will not contribute to your progress marks. They are for practice and have countless attempts.</p>
        <br />



        <div class="parent-div" style="width:100%">
            @using (Html.BeginForm("MainMenu", "Data"))
            {  <div class="first_btn">
                <button type="submit" class="btn btn-default">Main menu</button>
            </div>
            }

            @using (Html.BeginForm("SubjectContent", "Data"))
            {
                <div class="second_btn">
                    <button type="submit" class="btn btn-default">Subject content</button>
                </div>
            }

            @using (Html.BeginForm("Quiz", "Data"))
            {  <div class="third_btn">
                <button type="submit" class="btn btn-default">Quiz view</button>
            </div>
            }
        </div>



    </div>

    <div class="flex-container">
        <div class="row">
            <div class="col-*4* flex-item" style="width:400px;float:left">
                <img class="card-img-top" style="width:250px;height:200px" src="https://www.insidehighered.com/sites/default/server_files/styles/large-copy/public/media/iStock-846997320_0.jpg?itok=w8HwKKxW" alt="Diversity">
                <div class="card-body">
                    <h4 class="card-title" style="font-size:16px">Diversity</h4>
                    <p class="card-text">Lets learn how to love one another</p>

                    <button type="submit" class="btn btn-primary">Diversity</button>
                </div>
            </div>
        </div>
    </div>
   
    @using (Html.BeginForm("Financeactivity", "Data"))
    {
        <div class="flex-container">
            <div class="row">
                <div class="card,col-*4* flex-item" style="width:400px;float:right">
                    <img class="card-img-top" style="width:250px;height:200px" src="https://media-assets-01.thedrum.com/cache/images/thedrum-prod/s3-finance_0--2x1--940.jpg" alt="Finance">
                    <div class="card-body">
                        <h4 class="card-title" style="font-size:16px">Finances</h4>
                        <p class="card-text">Lets start our financal planning today</p>


                        <button type="submit" class="btn btn-primary">Finances</button>
                    </div>
                </div>
            </div>
        </div>
    }



   
    @using (Html.BeginForm("Mathactivity", "Data"))
    {
        <div class="flex-container">
            <div class="row">
                <div class="card,col-*4* flex-item" style="width:400px;float:left">
                    <img class="card-img-top" style="width:250px;height:200px" src="https://hips.hearstapps.com/hmg-prod.s3.amazonaws.com/images/math-1569525694.jpg?crop=1.00xw:1.00xh;0,0&resize=980:*" alt="Math">
                    <div class="card-body">
                        <h4 class="card-title" style="font-size:16px">Math</h4>
                        <p class="card-text"> Click to start your learning journey Math is fun</p>


                        <button type="submit" class="btn btn-primary">Math</button>
                    </div>
                </div>
            </div>
        </div>
    }
    

    <div class="flex-container">
        <div class="row">
            <div class="card,col-*4* flex-item" style="width:400px;float:right">
                <img class="card-img-top" style="width:250px;height:200px" src="https://www.businessbacker.com/wp-content/uploads/2017/02/Email-Etiquette-Header.png" alt="Email Etiquette">
                <div class="card-body">
                    <h4 class="card-title" style="font-size:16px">Email Etiquette</h4>
                    <p class="card-text">Click to start your learning journey Lets start writing formally</p>


                    <button type="submit" class="btn btn-primary">Email Etiquette</button>
                </div>
            </div>
        </div>
    </div>
   

    <div class="flex-container">
        <div class="row">
            <div class="card,col-*4* flex-item" style="width:400px;float:left">
                <img class="card-img-top" style="width:250px;height:200px" src="http://cdn.ipsnews.net/Library/2019/05/Protect-Human-Rights_.gif" alt="Rights">
                <div class="card-body">
                    <h4 class="card-title" style="font-size:16px">Rights</h4>
                    <p class="card-text">Click to start your learning journey We all are entitled</p>

                    <div>
                        <button type="submit" class="btn btn-primary">Rights</button>
                    </div>

                </div>
            </div>
        </div>
    </div>
    

    <div class="flex-container">
        <div class="row">
            <div class="card,col-*4* flex-item" style="width:400px;float:right">
                <img class="card-img-top" style="width:250px;height:200px" src="https://thesmartcenter.biz/wp-content/uploads/2019/06/Computer-and-Email-Skills-Workshop-Red-300x173.png" alt="Computer Skills">
                <div class="card-body">
                    <h4 class="card-title" style="font-size:16px">Computer Skills</h4>
                    <p class="card-text"> Click to start your learning journey Basic codding here we come</p>


                    <button type="submit" class="btn btn-primary">Computer Skills</button>
                </div>
            </div>
        </div>
    </div>
</body>

</html>
