﻿@model List<deliverable_2.Controllers.refiloeclass>
@{
    Layout = null;
    //to number the questions accordlignnly
    int count = 1;
    //keeps track of correct answer count
    int AnswerCount = 0;
}

<!DOCTYPE html>

<html>
<head>
    <title>Diversity Activity </title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</head>
<body class="bg-danger text-black">

    <div>
        <h1>Diversity Activity One</h1>
        <p>Please note that the following will now contribute towards your progress mark</p>
        @foreach (var items in Model)
        {
            <h5>Question @count @items.AQuestion</h5>

               <!--storing the answer-->
            <p id="@string.Format("{0}{1}", "Ans", count)" hidden>@items.AAnswer</p>
            <p id="@string.Format("{0}{1}", "Correct", count)"></p>

            <form>

                <fieldset id="@string.Format("{0}{1}", "Form", count)">

                    <input type="radio" name="@string.Format("{0}{1}", "Answer", count)" />@items.AAnswer <br />
                    <input type="radio" name="@string.Format("{0}{1}", "Answer", count)" />@items.AOption1 <br />
                    <input type="radio" name="@string.Format("{0}{1}", "Answer", count)" />@items.AOption2 <br />
                    <input type="radio" name="@string.Format("{0}{1}", "Answer", count)" />@items.AOption3 <br />

                </fieldset>
            </form>
            count++;
        }
        <p id="countt" hidden>@count</p>

        <button class="btn-success" type="submit" name="markme" onclick="Mark()">Mark</button>
        @using (Html.BeginForm("ActivityD", "Data"))
        {
            <button class="btn-success">Cancel</button>
        }
    </div>

    <!--marking-->
    <script>

            function Mark()
            {
                @*@//the counter, after for loop the counter os saved in paragrapgh and yeah*@

                var Countt = document.getElementById("countt").innerHTML;


                var j;

                @*@// checking whether correct answer was selected*@

                for (j=1; j< Countt; j++)
                {

                    var type = "Answer" + j;
                    var Thos = document.getElementsByName(type);

                    for (var zz = 0; zz<4 ; zz++)
                    {
                        if (Thos[3].checked)
                        {
                            var time = "Correct"+j
                           document.getElementById(time).innerHTML = "Correct"
                        }
                        else
                        {
                            var time = "Correct" + j
                            document.getElementById(time).innerHTML = "Incorrect"
                        }
                    }

                    var dis = "Form" + j;
                    document.getElementById(dis).disabled = true;
                }
            }

    </script>
</body>
</html>
