
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ChangePassword</title>
    <link href="~/StyleSheet1.css" rel="stylesheet" />
</head>
<body>
    <div class="DIV">
        <h1>Change Password</h1> 

        <label>Current Password:</label><input type="text" />
        <br />
        <label>New Password:</label><input type="text" />
        <br />
        <label>Confirm Password:</label><input type="text" />
        <br />
        <a href="@Url.Action("Account","Data")">Back to account page</a>
        <br />
        <button type="submit">Confirm</button>
    </div>
    
</body>
</html>
