
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ComputerSkills</title>
    <link href="~/StyleSheet1.css" rel="stylesheet" />

</head>
<body>
    <div class="DIV">
        <h1>Computer Skills</h1>
        <p>The Fourth Industrial Revolution(4IR) is here. It is the current and developing envirioment in which technologies, robotics, virtual reality and artificial intelligence are changing the way we live and work. Students must become equipt with the skills that will enable them to be a part of this 4IR. </p>
        <br />
        <a href="@Url.Action("SubjectContent","Data")">Return to subject content page</a>
 
    </div>
</body>
</html>
