﻿
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Computer Literacy</title>
    <link href="~/StyleSheet1.css" rel="stylesheet" />
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
</head>
<body style="background-color:gray">
    <div class="DIV">
        <h1>Computer Literacy</h1>
        <p>
            In South Africa Computer Literacy is a massive problem as not many people have access to
            basic technology which is why computer literacy levels are so low in the country.
            Very often, People from less developed areas lag in academic performance, are underdeveloped compared to their peers,
            suffer from anxiety, and have problems with communication. Which is why people from rural areas need to develop these skills
            so that they can catch up to the rest of society and actually improve themselves to become a better person.
        </p>

        <div class="parent-div" style="width:100%">
            @using (Html.BeginForm("MainMenu", "Data"))
            {  <div class="first_btn">
                <button type="submit" class="btn btn-default">Main menu</button>
            </div>
            }

            @using (Html.BeginForm("Quiz", "Data"))
            {
                <div class="second_btn">
                    <button type="submit" class="btn btn-default">Quiz</button>
                </div>
            }

            @using (Html.BeginForm("Activity", "Data"))
            {  <div class="third_btn">
                <button type="submit" class="btn btn-default">Return to Activity view</button>
            </div>
            }
        </div>

    </div>
    <div class="card-columns">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">1.)Being computer literate supports entrepreneurship:</h5>
                <p class="card-text">
                    Tech skills are of utmost importance for entrepreneurs. Being computer literate will create space for new ideas,
                    enables your self-confidence and helps to be innovative. With the business world going digital, you on the right
                    path to putting your business on the map.
                </p>
            </div>
        </div>
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">2.)Communication:</h5>
                <p class="card-text">
                    Communication plays an essential role in the business world – both interpersonally and electronically.
                    Think of the various ways to communicate technologically.There is always a level of computer literacy involved.
                </p>
            </div>
        </div>
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">3.)Enhance your employment opportunities:</h5>
                <p class="card-text">
                    It has become imperative for every student to receive some kind of computer skills training before entering the working world.
                    These computer skills prepares students for the norms and algorithms of the business world.
                    Having attained some level of computer literacy enhances job opportunities.
                </p>
            </div>
        </div>
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">4.)Address the gap in your knowledge:</h5>
                <p class="card-text">
                    You don’t need to be a ‘geek’ to be tech-savvy. Computer skills are available to anyone open to increasing their knowledge.
                    The world is moving towards digital education and you do not need to miss that train. Whether you are young or not so young,
                    you can still adopt the mindset of digital natives!
                </p>
            </div>
        </div>
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">5.)Computers Reconstruct Business Processes:</h5>
                <p class="card-text">
                    Businesses have come along way with the advancement of technology. Before truly embracing computer skills,
                    communication in house was very tedious; with staff running around like headless chickens.
                    The digital age has improved this by making communication simpler and faster, with one email being enough to convey a message to the entire company.
                    Embrace the fact that digital age has revolutionised the business world. Instead of seeing computers as a barrier that stands between us and our personal success,
                    embrace the convenience and the revolution that they bring to our world.
                </p>
            </div>
        </div>
        </div>
</body>
</html>
