
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Diversity</title>
    <link href="~/StyleSheet1.css" rel="stylesheet" />

</head>
<body>
    <div class="DIV"> 
        <h1>Diversity</h1>
        <p>We live in an era filled with unique people who practice different religions, cultures and ways of life. Understanding other peoples ways can be helpful and it allows for better interactions.</p>
        <br />
        <a href="@Url.Action("SubjectContent","Data")">Return to subject content page.</a>
    </div>
</body>
</html>
