﻿
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Diversity</title>
    <meta charset="utf-8">
    <link href="~/StyleSheet1.css" rel="stylesheet" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>


</head>
<body>
    <div class="parent-div" style="width:100%">
    @using (Html.BeginForm("MainMenu", "Data"))
            {  <div class="first_btn">
        <button type="submit" class="btn btn-default">Main menu</button>
    </div>
    }

    @using (Html.BeginForm("DiversityQuiz", "Data"))
            {
        <div class="second_btn">
            <button type="submit" class="btn btn-default">Quiz</button>
        </div>
    }

    @using (Html.BeginForm("ActivityD", "Data"))
            {  <div class="third_btn">
        <button type="submit" class="btn btn-default">Return to Activity view</button>
    </div>
    }
    @using (Html.BeginForm("SubjectContent", "Data"))
            {
        <button type="submit" class="btn btn-default">Subject Content</button>
    }
        </div>
    <div class="bg-danger text-black">
        <h1 align="center">Diversity</h1>
        <p>
            We live in an era filled with unique people who practice different religions, cultures and ways of life.
            Understanding other peoples ways can be helpful and it allows for better interactions. Diversity means
            understanding that each individual is unique, and recognising individual differences.
        </p>

        <h3>Content Objectives:</h3>

        <ol style="list-style-type:circle">
            <li>Have clear understanding of what diversity is</li>
            <li>Know the important of diversity</li>
            <li>Be able to give examples of diversity</li>
            <li>Be able to advise a person in a situation where there are diversity issues</li>
        </ol>
        <br />
        <p>
            Diversity can be simply defined as the state of being diverse. Now, this is an extremely vague meaning and many people don't know when it applies.
            Diversity comes in many forms, namely, religion, race, gender, sexual orientation, culture, socioeconomic backgrounds and pretty much anything that
            makes one person different from the next. All these factors contribute to a persons unique experience.
            <br />
            We are entering the Fourth Industrial Evolution(4IR), which can be defined as the second wave of the internet. What this means is that there will
            be an increase in the number of digital connections between people, as well as in between people and things. So basically, computers are taking over
            people's jobs because of this automation. It is crucial for the youth and people in general to have some sort of computer skills so that they don't lose
            their jobs.
        </p>
        <ol style="list-style-type:circle">
            Diversity is important in the 21st Century because of 5 main reasons.
            <li>Productivity</li>
            <li>Becoming a World Citizen</li>
            <li>Perspective</li>
            <li>Growing Acceptance, Diminishing Discrimination</li>
            <li>Richer Life Experience</li>
        </ol>
        <p>
            In terms of productivity, everyone has their own way of viewing problems. This is shaped by the individual experiences that they have had.
            When tackling any problem, it would make sense to have as many different perspectives and options as possible. It is better than having the
            same opinion and thoughts from everyone. When you experience diversity in your everyday life, you will frequently be exposed to many different cultures, traditions and practices which are not
            like yours. You will enteract with different people from  other communities and be constantly learning. This will improve your social development and improve
            your understandingof the world. This will prepare you for being a part of the global society.
            <br />
            Listening to other people and hearing their experience can change your perspective on thoughts and the way in which you do things. When listening to
            others and hearing their priorities, struggles and values you get a clearer idea of where they are coming from. This will help you appreciate one another's motivation
            and hardships. We are currently living in a time where people are hypersensitive. This means that people's immune systems are proned to produce undesirable reactions. One must be extremely
            sensitive when dealing and interacting with human beings. Over the past few years, there has been an increase in acceptance. Accepting people goes beyond tolerating them. It is about
            communicating with these people and realising that you have some thing in common. On the other hand discrimination and being treating people differently because of who they are is
            diminishing. Those who engage in such behaviour are often scrutinized by society of the people around them.
            <br />
            Richer life experience is aboutnew ideas, views, practices to stimulate and inspire us. Diversity is colourful. Being around people who are exatly like you and think just like you
            all the time would be a dreadful experience. This helps you learn about others and will ultimately result in you growing you acceptance. All forms of hate speech should be frowned upon.
        </p>
      



    </div>
</body>
</html>
