
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>EmailEtiquette</title>
    <link href="~/StyleSheet1.css" rel="stylesheet" />

</head>
<body>
    <div class="DIV">
        <h1>Email Etiquette</h1>
        <p>Email etiquette is a cricual skill. By using the correct email language, you will convey a professional image.  This is not only important because improper spelling, grammar and punctuation give a bad impression of yourself, it is also important for conveying the message properly. </p>
        <br />
        <a href="@Url.Action("SubjectContent","Data")">Return to subject content page.</a> 
    </div>
</body>
</html>
