﻿
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Email Etiquette</title>
    <link href="~/StyleSheet1.css" rel="stylesheet" />
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
</head>
<body style="background-color:teal">
    <div class="DIV">
        <h1>Email Etiquette</h1>
        <p>
            Email etiquette is a cricual skill. By using the correct email language, you will convey a professional image.
            This is not only important because improper spelling, grammar and punctuation give a bad impression of yourself,
            it is also important for conveying the message properly.
            Emailing is a commoun medium of communication in the modern world as its an efficient
            tool of sending messages because it is reliable and fast. I would say if a business
            does not make use of some communication method it will run it self into the ground.
            There are a number of rules when it comes to the art of composing an email that
            is sound,no errors and that is professionally suitable in the corporating world:
        </p>
        <div class="parent-div" style="width:100%">
            @using (Html.BeginForm("MainMenu", "Data"))
            {  <div class="first_btn">
            <button type="submit" class="btn btn-default">Main menu</button>
        </div>
            }

            @using (Html.BeginForm("Quiz", "Data"))
            {
                <div class="second_btn">
                    <button type="submit" class="btn btn-default">Quiz</button>
                </div>
            }

            @using (Html.BeginForm("Activity", "Data"))
            {  <div class="third_btn">
            <button type="submit" class="btn btn-default">Return to Activity view</button>
        </div>
            }
        </div>
        <a href="@Url.Action("SubjectContent","Data")">Return to subject content</a>

    </div>
    <div class="card-columns">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">1)Do have a clear Subject Line:</h5>
                <p class="card-text">
                    when you have a clear subject line
                    it is more easier for the reader to know what
                    the email topic is about and it is more likely
                    that the reader will get to your email quicker,
                    when there is an uncountable number of emails
                    the reader has to siff through..
                </p>
            </div>
        </div>
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">2)Don't forget your Signature:</h5>
                <p class="card-text">
                    When sending an Email the reader
                    must always know the sender of the email,so
                    a signature helps clarify this process.
                    Placing this signature when you are sending
                    off on the email will help the reader know
                    who you are and how to contact you.
                </p>
                <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
            </div>
        </div>
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">3)Do Use Professional Salutation:</h5>
                <p class="card-text">
                    Try to be as formal as possible when
                    it comes to emailing someone even though you might
                    know the person very well.Using the person's name
                    in the salutation is appropriate such as "Hello Veronica".
                </p>
                <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
            </div>
        </div>
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">4)Don't use humor:</h5>
                <p class="card-text">
                    Humour does not translate
                    well via email as the person receiving the email might,
                    misinterpret the message without the vocal tone of rather saying it in person.
                    When in doubt it is best to leave humour out of business communications.
                </p>
                <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
            </div>
        </div>
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">5)Don't assume the recipient knows what you are talking about:</h5>
                <p class="card-text">
                    Do not try to use one liner messages, even if it is reponses to chain emails.
                    It can be frustrating and time consuming to look at the chain to get better context
                    of the discussion. It is best to include the subject line and to add any references
                    from previous emails.

                </p>
                <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
            </div>
        </div>
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">6)Proof Read your messages:</h5>
                <p class="card-text">
                    Remember to check the spelling and grammer of your email before sending it
                    , as you could be deemed as sloppy and careless.

                </p>
                <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
            </div>
        </div>
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">7)Don't Overuse exclamation points:</h5>
                <p class="card-text">
                    Indicators of excitement such as emoticons and exclamation points do not translate
                    well in business commuications,so its best to not use them.Its also not professional
                    to use a string of exclamtion points(!!!!).
                </p>
                <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
            </div>
        </div>
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">8)Do reply to all emails:</h5>
                <p class="card-text">
                    Try to respond to as much emails as you can at that given point in time,
                    even if its just a response to let the sender know you have received the email.This is to ensure
                    that the sender has sent the right email to the right person.
                </p>
                <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
            </div>
        </div>
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">9)Don't shoot from the lip:</h5>
                <p class="card-text">
                    Do not respond if you are angry,
                    rather save the email in drafts and return to it when
                    you can respond from a logical point of view and not an emotional one where you can put
                    thoughtful consideration into the email.
                </p>
                <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
            </div>
        </div>
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">10)Do keep private material confidential:</h5>
                <p class="card-text">
                    If you have to share higly personal information,
                    do so in person or over the phone.
                    Ask permission before posting sensitive material either in the body of the email or
                    in an attachment.
                </p>
                <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
            </div>
        </div>

    </div>
