
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>English</title>
    <link href="~/StyleSheet1.css" rel="stylesheet" />

</head>
<body>
    <div class="DIV"> 
        <h1>English</h1>
        <p>English is the main communication meduim. To be able to keep up with the times, one must be able to have the basic understanding of the language and have the ability too use it correctly.</p>
        <br />
        <a href="@Url.Action("SubjectContent","Data")">Return to subject content page</a>

    </div>
</body>
</html>
