﻿
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>SubjectContent</title>
    <link href="~/StyleSheet1.css" rel="stylesheet" />
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
</head>
<body style="background-color: lightblue;text-align:center">
    <h1 style="text-align:center">Finance activities</h1>
    <h2>Please select a button</h2>

    <div class="parent-div" style="width:100%">
        @using (Html.BeginForm("MainMenu", "Data"))
        {  <div class="first_btn">
            <button type="submit" class="btn btn-default">Main menu</button>
        </div>
        }

        @using (Html.BeginForm("SubjectContent", "Data"))
        {
            <div class="second_btn">
                <button type="submit" class="btn btn-default">Subject content</button>
            </div>
        }

        @using (Html.BeginForm("Financeactivity", "Data"))
        {  <div class="third_btn">
            <button type="submit" class="btn btn-default">Activity view</button>
        </div>
        }
    </div>
    @using (Html.BeginForm("FiananceActivityone", "Finance"))
    {
        <div class="flex-container" style="text-align:center">
            <div class="row">
                <div class="col-*4* flex-item" style="width:400px;float:left">
                    <img class="card-img-top" style="width:250px;height:200px" src="https://cdn1.msw.usc.edu/content/0f530cd191e14565afa199d6957ca754/200_Guide_DiversityWorkshop_act1.jpg" alt="Activity one">
                    <div class="card-body">
                        <h4 class="card-title" style="font-size:16px">Activity One</h4>


                        <button type="submit" class="btn btn-primary btn-lg">Activity one</button>
                    </div>
                </div>
            </div>
        </div>


    }
    @using (Html.BeginForm("FiananceActivitytwo", "Finance"))
            {
        <div class="flex-container">
            <div class="row">
                <div class="col-*4* flex-item" style="width:400px;float:left">
                    <img class="card-img-top" style="width:250px;height:200px" src="https://cdn3.msw.usc.edu/content/494ebc2a088a46deafad646ae14aaf80/200_Guide_DiversityWorkshop_act2.jpg" alt="Activity two">
                    <div class="card-body">
                        <h4 class="card-title" style="font-size:16px">Activity Two</h4>


                        <button type="submit" class="btn btn-primary btn-lg">Activity two</button>
                    </div>
                </div>
            </div>
        </div>
    }





</body>

</html>
