﻿
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>SubjectContent</title>
    <link href="~/StyleSheet1.css" rel="stylesheet" />
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
</head>
<body style="background-color:aquamarine">

    <div class="parent-div" style="width:100%">
        @using (Html.BeginForm("MainMenu", "Data"))
            {  <div class="first_btn">
            <button type="submit" class="btn btn-default">Main menu</button>
        </div>
        }

        @using (Html.BeginForm("Quiz", "Data"))
            {
            <div class="second_btn">
                <button type="submit" class="btn btn-default">Quiz</button>
            </div>
        }

        @using (Html.BeginForm("Activity", "Data"))
            {  <div class="third_btn">
            <button type="submit" class="btn btn-default">Return to Activity view</button>
        </div>
        }
    </div>

    <div class="DIV">
        <h1>Finances</h1>
        <p>
            Finance is a field that analysers the assets, liability and owners’ equity. The most common question that most
            people ask is what is assets, liability and owners’ equity, asset is any resource owned by the business where as liability
            is what the company owes to either another company or person and owners’ equity or equity is the difference between the value
            of the assets and the value of the liabilities of something owed. In this section we will be dealing with the basic accounting
            rules and statements. The content below will help you better understand the accounting principles and how to draft up a personal budget a
            nd how to calculate in the budget.
        </p>
        <br />
        <h2>Debtor </h2>
        <p>
            You will hear these words all around you not only when talking to finance people but in general. What is a debtor, a debtor is someone that buys something from
            your business these could be products that your company sells or services that you provide. Do not confuse debtors with capital, capital is the starting money to have to start your business/company. Whereas a debtor is one who purchases a product from your business, a debtor is classified as an asset.
        </p>
        <br />
        <h2>Creditors</h2>
        <p>
            A  creditor is classified as a liability and a creditor is someone who you as the company owes money to. This will have a negative impact on the company because the
            company now loses money because you will have to pay all liabilities in the business.
        </p>
        <br />
        <h2>Income</h2>
        <p>
            Income in anything that brings money into the business this can be money that you have received from investments or money that was made from sales. Therefore, anything that brings money into the business is classified as an income. These services rendered and sales are all income. Please take note income
            is part of Equity and not assets most people struggle with understanding this concept
        </p>
        <br />
        <h2>Expenses </h2>
        <p>
            Expenses are easy to understand these are all things that the company buys for the company and anything that needs to be paid however, this is not classified as a liability because a liabilities of something owed that needs to be paid off where as an expense is more of a purchase. Things such as advertising is an expense, salaries/wagers and if it’s a personal
            budget you compiling expenses will include going out money and buying food, clothes and thing that you purchase.
        </p>
        <br />
        <h2>Personal budget</h2>
        <p>
            When dealing with a personal budget you first need to understand what a personal budget is, a personal budget or home budget is a finance plan that allocates future personal income towards expenses, savings and debt repayment. Past spending and personal debt are considered when creating a personal budget. The basic format is that you first start with Income as your heading then you list all your incomes, these will include your wage or pocket money. You then total up all income. You then create your expenses heading and list all possible expenses you might have through the month, after you calculate the total amount of expenses. Finally, you subtract the expenses total from the income total and that amount is how much money you will have left. However, if you have a negative amount this means that you
            have more expenses that income and need to wither find a way to make more income or you need to reduce your expenses.
        </p>


    </div>

</body>
</html>
