
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Help</title>
    <link href="~/StyleSheet1.css" rel="stylesheet" />
</head>
<body>
    <div class="DIV">
        <h1>Help!</h1> 
        <p>If you are experiencing trouble while using our program, feel free to contact the number below</p>
        <p>Lesego Molako: 059 634 7854</p>
    </div>
</body>
</html>
