﻿@model List<deliverable_2.Controllers.refiloeclass>
@{
    Layout = null;
    //to number the questions accordlignnly
    int count = 1;
    //keeps track of correct answer count
    int AnswerCount = 0;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>HRQuiz</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

</head>
<body class="bg-warning text-black">
    <h1>Human Rights Quiz</h1>
    <p> Please not that the following will contribute towards your progress marks</p>

    <div>
        @foreach (var item in Model)
        {
            //displays question number, then quiestion
            <p>Question @count @item.HQuestion</p>


                  <!--storing the answer-->
            <p id="@string.Format("{0}{1}", "Ans", count)" hidden>@item.HAnswer</p>
            <p id="@string.Format("{0}{1}", "Correct", count)"></p>

            <form>
                <fieldset id="@string.Format("{0}{1}", "Form", count)">

                    <input type="radio" name="@string.Format("{0}{1}", "Answer", count)" value="@item.HOption1" id="one" />@item.HOption1 <br />
                    <input type="radio" name="@string.Format("{0}{1}", "Answer", count)" value="@item.HOption2" id="two" />@item.HOption2 <br />
                    <input type="radio" name="@string.Format("{0}{1}", "Answer", count)" value="@item.HOption3" id="three" />@item.HOption3 <br />
                    <input type="radio" name="@string.Format("{0}{1}", "Answer", count)" value="@item.HAnswer" id="Answer" />@item.HAnswer <br />
                </fieldset>
            </form>
            count++;
        }
        <p id="countt" hidden>@count</p>


        <button class="btn-success" type="submit" name="markme" onclick="Mark()">Mark</button>
        @using (Html.BeginForm("MainMenu", "Data"))
        {
            <button class="btn-success">Cancel</button>
        }
    </div>

    <!--marking-->>
    <script>

            function Mark()
            {
                //<!--the counter, after for loop the counter os saved in paragrapgh and yeah-->
                var Countt = document.getElementById("countt").innerHTML;
                var Marks = 0;

                var j;

                @*@// checking whether correct answer was selected*@
                for (j=1; j< Countt; j++)
                {

                    var type = "Answer" + j;
                    var Thos = document.getElementsByName(type);

                    for (var zz = 0; zz<4 ; zz++)
                    {
                        if (Thos[3].checked)
                        {
                            var time = "Correct"+j
                            document.getElementById(time).innerHTML = "Correct"
                            Marks = Marks + 1
                          
                        }
                        else
                        {
                            var time = "Correct" + j
                            document.getElementById(time).innerHTML = "Incorrect"
                        }
                    }

                    var dis = "Form" + j;
                    document.getElementById(dis).disabled = true;
                }
                var Total = Countt - 1;
                Marks = Marks/4
                alert("Total equals to " + Marks + "/" + Total);
            }
    </script>

</body>
</html>
