﻿
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>SubjectContent</title>
    <link href="~/StyleSheet1.css" rel="stylesheet" />
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
</head>
<body style="background-color: lightblue">
    <div class="DIV">
        <h1>Main Menu</h1>
        @using (Html.BeginForm("SubjectContent", "Data"))
        {
            <div class="flex-container">
                <div class="row">
                    <div class="flex-item" style="width:400px;float:left">
                        <img class="card-img-top" style="width:250px;height:200px" src="https://i2.wp.com/www.betelvine.com/wp-content/uploads/2017/05/003_Is-it-Possible-to-get-the-Best-out-of-SMEs.jpg?w=421" alt="Subject Content">
                        <div class="card-body">
                            <h4 class="card-title" style="font-size:16px">Subject Content</h4>
                            <p class="card-text"> Click to start your learning </p>


                            <button type="submit" class="btn btn-primary">Subject Content</button>
                        </div>
                    </div>
                </div>
            </div>

        }

        @using (Html.BeginForm("Activity", "Data"))
        {
            <div class="flex-container">
                <div class="row">
                    <div class=" flex-item" style="width:400px;float:left">
                        <img class="card-img-top" style="width:250px;height:200px" src="http://clipartbarn.com/wp-content/uploads/2017/10/Teamwork-clip-art-pictures-free-clipart-images-clipartandscrap.jpg" alt="Activities">
                        <div class="card-body">
                            <h4 class="card-title" style="font-size:16px">Activities</h4>
                            <p class="card-text"> Click to start your learning </p>


                            <button type="submit" class="btn btn-primary">Activities</button>
                        </div>
                    </div>
                </div>
            </div>
        }

        @using (Html.BeginForm("Quiz", "Data"))
        {
            <div class="flex-container">
                <div class="row">
                    <div class="flex-item" style="width:400px;float:left">
                        <img class="card-img-top" style="width:250px;height:200px" src="http://mindkey.me/wp-content/uploads/2016/08/142275369.jpg" alt="Quizes">
                        <div class="card-body">
                            <h4 class="card-title" style="font-size:16px">Quizes</h4>
                            <p class="card-text"> Click to start your learning</p>


                            <button type="submit" class="btn btn-primary">Quizes</button>
                        </div>
                    </div>
                </div>
            </div>

        }

        @using (Html.BeginForm("PM", "Data"))
        {
            <div class="flex-container">
                <div class="row">
                    <div class="flex-item" style="width:400px;float:right">
                        <img class="card-img-top" style="width:250px;height:200px" src="https://cdn1.iconfinder.com/data/icons/finance-solid-icons-vol-6/48/257-512.png" alt="Progress Marks">
                        <div class="card-body">
                            <h4 class="card-title" style="font-size:16px">Progress Marks</h4>
                            <p class="card-text"> Click to start your learning</p>


                            <button type="submit" class="btn btn-primary">Progress Marks</button>
                        </div>
                    </div>
                </div>
            </div>


        }

        @using (Html.BeginForm("Settings", "Data"))
        {
            <div class="flex-container">
                <div class="row">
                    <div class="flex-item" style="width:400px;float:left">
                        <img class="card-img-top" style="width:250px;height:200px" src="https://icon-library.net/images/windows-settings-icon/windows-settings-icon-27.jpg" alt="Settings">
                        <div class="card-body">
                            <h4 class="card-title" style="font-size:16px">Settings</h4>
                            <p class="card-text"> Click to start your learning</p>


                            <button type="submit" class="btn btn-primary">Settings</button>
                        </div>
                    </div>
                </div>
            </div>
        }


    </div>

</body>
</html>
