
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Math</title>
    <link href="~/StyleSheet1.css" rel="stylesheet" />

</head>
<body>
    <div class="DIV"> 
        <h1>Math</h1>
        <p>Numbers are everywhere. Math will give leaners better problem-solving skills. It helps us think analytically and have better reasoning abilities.  Analytical thinking refers to the ability to think critically about the world around us.</p>
        <br />
        <a href="@Url.Action("SubjectContent","Data")">Return to subject content page.</a>
    </div>
</body>
</html>
