﻿
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>SubjectContent</title>
    <link href="~/StyleSheet1.css" rel="stylesheet" />
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
</head>
<body style="background-color:cornflowerblue">

    <div class="parent-div" style="width:100%">
        @using (Html.BeginForm("MainMenu", "Data"))
            {  <div class="first_btn">
            <button type="submit" class="btn btn-default">Main menu</button>
        </div>
        }

        @using (Html.BeginForm("Quiz", "Data"))
            {
            <div class="second_btn">
                <button type="submit" class="btn btn-default">Quiz</button>
            </div>
        }

        @using (Html.BeginForm("Activity", "Data"))
            {  <div class="third_btn">
            <button type="submit" class="btn btn-default">Return to Activity view</button>
        </div>
        }
    </div>



    <div class="DIV">

        <h1>Mathematics</h1>
        <p class="p">

            Mathematics is the study of quantity, process,space,change and structure.This is an important skill that will help with things is your everyday life.Mathematics
            is not a favourite subject in school and is viewed as difficult and troublesome. However Mathematics is
            as any other subject, once you understand the context you will be able understand and thus
            making the content eaiser.
        </p>
        <br />

        <p>
            In this subject our main focus is Mathematics, we will start will some basics addition,
            multiplication, division and subtraction. In this section we will also look at the procedure of
            BODMAS and BEDMAS. The two procedures will teach you how to correctly follow the steps to solve a mathematical expression
            which includes addition, multiplication, division and subtraction.
        </p>
        <br />
        <h2>Addition</h2>
        <p>
            When looking at addition this is simply adding numbers togetehr and reciving an outcome.Example
            17+28=45 this expression shows us that seventeen plus twenty-eight equals fourty-five.
            how you solve this problemis to first add the last number of both numbers 7+8=15 since
            the expression equals to a double digit number the first number must be added to the first
            number of the original expression thus making it 1+1+2=4. When dealing for three digit numbers
            the same process is applied as show in the first expression. Example 121+145=266,one hundred and twenty-one plus
            one hundred and forty-five equals two hundred and sixty-six. How to solve this you frist add the
            last number of each number 1+5=6 then add the each second number2+4=6 and lastly add the first number of each number,
            1+1=2 then place all number next to one another 266.
        </p>
        <br />
        <h2>Subtraction</h2>
        <p>
            When looking at subtraction this is simply minusing numbers and reciving an outcome.Example
            17-28=45 this expression shows us that seventeen plus twenty-eight equals fourty-five.
            how you solve this problemis to first add the last number of both numbers-> 7-8=-1 then we take 1-2=-1 this makes the total
            number to equal -11 notice that we ignore the sign infront of the subtotal of the first subtraction we used.
            When dealing for three digit numbers the same process is applied as show in the first expression. Example 145-122=23,one hundred forty-five minus
            one hundred and twenty-two
            equals twenty three. How to solve this you frist subtract the last number of each number 5-2=3 then subtract each second number 4-2=2 then subtact the
            first numbers 1-1=0 and lastly place the first number of each number next to one another 23.
        </p>
        <br />
        <h2>Mutiplication</h2>
        <p>

            When looking at multiplication this is simply multiplying numbers and reciving an outcome.Example
            2x6=12 this expression shows us that two times six equals twelve.
            how you solve this problemis to wither add 2 six times or add 6 twice.
            When dealing for three digit numbers example 145x10,one hundred forty-five minus
            times ten. How to solve this you frist take the last digit of the second number and times it by the last digit of the first number 0x5=0 next take the last digit
            of the second number and mutiply the second digit,Then mutily 0x4=0 and 0x1=0 for the next and last digit of the first number.Howver when multipying the first digit
            of the last number you have to place 0 then you are able to mutily the next number 1x5=5,1x4=4 and 1x1=1 then place the number together 1450. Add two numbers together
            1450+000=1450.
        </p>
        <br />
        <h2>Divition</h2>
        <p>

            When looking at divitionthis is simply divide the numbers and reciving an outcome.Example
            6/2=3 this expression shows us 6 divided by two equals three.
            how you solve this problem you see how many times 2 can go into six an that is three times. Example 2 145/2=72.1 how to solve this you first see if it is possibale to divide the first digit by 2
            if its bigger check the next number by viewing the two digits as one number making the new number 14,
            then divide 14/2=7 after that divide 5 by 2, when looking at numbers that cant be divided by each other we see the closest smallest number it can be divided into
            thus making 5 divided by 2 which means it can go into 5 twice. You then subtact the two numbers 5-4=1 thus making the 1 the decimal.
        </p>
        <br />
        <h2>BODMAS and BEDMAS</h2>
        <p>
            BEDMAS and BODMAS are procedure than use addition, multiplication, division and subtraction but in a structure for example BEDMAS this means that you need to solve
            the math problem using the specific order first brackets,then exponent,divition,multipication,addition and subtraction. the brackets means that you have to first solve whats in the brackets
            the exponet part means that yo have to solve the exponents seconds e.g 2 to the 3rd(2x2x2)=8. BODMAS has the same procedure brackets,then Of,divition,multipication,addition and subtraction
            the OF function means multiplication e.g 5 of 2=5x2=10. A BEDMAS and BODMAS example (5x3)2+3 = first (5X3)=15 second 15x2=25 third 25+3=28 this the final answer being 28
        </p>
        <br />
        <h2>Probability</h2>
        <p>
            Taking a look at probability we look at the chances of something happening, what is the proability that out of a bag of sweets 6 are red. We then see how many sweets are in
            the bag and then we divide that total by he number of which we are looking for, suxh a 6 red sweets. then the total will be the probablility that there are 6 red sweets in the bag.
            Example John has 15 socks 6 are orange and 9 are blue what is the probablity that he picks 4 orange and 2 blue socks. 4/6 + 2/9= 0.30
        </p>
        <br />

    </div>
</body>
</html>
