﻿@model List<deliverable_2.Controllers.refiloeclass>

@{
    Layout = null;
    //to number the quations
    int count = 1;

    //keeps track of correct answer count
    int AnswerCount = 0;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Human Rights 1</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</head>
<body class="bg-warning text-black">
    <h1> Human Rights Activity One</h1>
    <div>
        <p>Please note that the following activity does not contribute towards the progress mark</p>

        @foreach (var item in Model)
        {
            //display question number, then question
            <p>Question @count @item.RQuestion</p>

          <!--storing the answer-->
            <p id="@string.Format("{0}{1}", "Ans", count)" hidden>@item.RAnswer</p>
            <p id="@string.Format("{0}{1}", "Correct", count)"></p>

                    <form>
                        <fieldset id="@string.Format("{0}{1}", "Form", count)">
                            <input type="radio" name="@string.Format("{0}{1}", "Answer", count)" value="@item.ROption1" id="one" /> @item.ROption1 <br />
                            <input type="radio" name="@string.Format("{0}{1}", "Answer", count)" value="@item.ROption2" id="two" /> @item.ROption2 <br />
                            <input type="radio" name="@string.Format("{0}{1}", "Answer", count)" value="@item.ROption3" id="three" /> @item.ROption3 <br />
                            <input type="radio" name="@string.Format("{0}{1}", "Answer", count)" value="@item.RAnswer" id="Answer" /> @item.RAnswer <br />

                        </fieldset>
                    </form>
            count++;
        }
        <p id="countt" hidden>@count</p>

        <button class="btn-success" type="submit" name="markme" onclick="Mark()">Mark</button>
        @using (Html.BeginForm("ActivityR", "Data"))
        {
            <button class="btn-success">Cancel</button>
        }
    </div>
    <!--marking-->
    <script>

            function Mark()
            {
                //<!--the counter, after for loop the counter os saved in paragrapgh and yeah-->
                var Countt = document.getElementById("countt").innerHTML;


                var j;

                @*@// checking whether correct answer was selected*@
                for (j=1; j< Countt; j++)
                {

                    var type = "Answer" + j;
                    var Thos = document.getElementsByName(type);

                    for (var zz = 0; zz<4 ; zz++)
                    {
                        if (Thos[3].checked)
                        {
                            var time = "Correct"+j
                           document.getElementById(time).innerHTML = "Correct"
                        }
                        else
                        {
                            var time = "Correct" + j
                            document.getElementById(time).innerHTML = "Incorrect"
                        }
                    }

                    var dis = "Form" + j;
                    document.getElementById(dis).disabled = true;
                }
            }

    </script>

</body>
</html>
