﻿
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Rights</title>
    <link href="~/StyleSheet1.css" rel="stylesheet" />
    <meta charset="utf-8">
    <link href="~/StyleSheet1.css" rel="stylesheet" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
</head>
<body >
    <div class="bg-warning text-black">
        <h1 align="center">Rights</h1>
      
        
        
        <div class="parent-div" style="width:100%">
            @using (Html.BeginForm("MainMenu", "Data"))
            {  <div class="first_btn">
                <button type="submit" class="btn btn-default">Main menu</button>
            </div>
            }

            @using (Html.BeginForm("HRQuiz", "Data"))
            {
                <div class="second_btn">
                    <button type="submit" class="btn btn-default">Quiz</button>
                </div>
            }

            @using (Html.BeginForm("ActivityR", "Data"))
            {  <div class="third_btn">
                <button type="submit" class="btn btn-default">Return to Activity view</button>
            </div>
            }
            @using (Html.BeginForm("SubjectContent", "Data"))
            {
                <div class="third_btn">
                    <button type="submit" class="btn btn-default">Subject Content</button>
                </div>
               
            }
        </div>
        <p>
            Human Rights guarentee people the means necessary to satisfy their basic needs, such as food, housing,
            and education, so they can take full advantage of all opportunities. Finally, by guaranteeing life, liberty, equality,
            and security, human rights protect people against abuse by those who are more powerful.
        </p>

        <h3>By the end of this section, the student should be able to:</h3>
        <br />
        <ol style="list-style-type:circle">

            <li>Have clear understanding of what a right is</li>
            <li>Know the important of rights</li>
            <li>Be able to give examples of rights</li>
            <li>Be able to define the rights</li>
            <li>Be able to advise a person in a situation where their rights are violated</li>
        </ol>

        <p>
            Human rights are rights that you have simply necause you are human(how you
            deserve to be treated as a person),they are the only rights that apply to everyone.
            They are universal, regardless
            of your differences such as race, sex, language, religion, ethnicity,
            nationality or any other status. Human rights include the roght to life and
            liberty, freedom from slavery, right to basic education, freedom of opinion
            and expression and many more. All people are entitled to these rights,
            without discrimination. There are thirty human rights in total.
        </p>

        <h3>Importance of knowing your rights!!!</h3>
        <p>
            Protection: knowing your rights is important because you can use them in many situations. They can
            even get you out of trouble sometimes. When you don't know your your rights, it becomes very difficult
            to fight for them because you cannot fight for something that you don't know.<br />
            To be able to treat people accordingly: This will enable you to treat people with the dignity that they
            deserve. All human beings are equals. You are not superior or inferior to anybody. Everyone is important.
        </p>

        <p>
            Fundamental rights are recognised as being fair and legal by thre Supreme Court. This includes:

            <ol style="list-style-type:circle">

                <li>Right to due process</li>
                <li>Right to freedom of speech</li>
                <li>Right to freedon of religion</li>
                <li>Right to privacy</li>
                <li>Right to marry</li>
                <li>Right to basic education</li>
                <li>Right to equality</li>
                <li>Right to assemble</li>
                <li>Right to bear arms</li>
            </ol>
        </p>

        <h3>Due process</h3>
        <p>
            legal requirement that the state must respect al the legal rights that are owed
            to a person. This right balances the power of the state and protects the
            individual person from it. When the state violates person without folowing this court of law,
            it cinstitues as a violation, which offends the rule of law. The rule of law
            is influence and authority of law in society(principle whereby all members of
            a society are viewd as being equals.) Nobody is above the law. This is extremely
            important to remember. It includes the president, ministers, priests, every
            single human being.
        </p>

        <h3>Freedom of speech</h3>
        <p>
            This is the power to express your own opinions and views without consorship,
            restraint, or legal penalty. It may not be recognised as being absolute and
            limitations or boundaries have to be put in place. Freedom of speech
            limitations include slander(communication false statements that may harm the
            reputations of people or entities), classified information(material that gov
            body deems to be sensitive information and that it must be protected. For
            such access is restricted by regulation or law for particular groups of
            people with necessary security clearance. this goes hand in hand with right
            to privacy), perjury(intentional act of swearing a false oath and falsifying
            and affirmation to tell the truth.)
        </p>

        <h3>Freedom of religion</h3>
        <p>
            Religion is the particular system of faith and worship. Freedom of religion is
            the principle that assists the freedom of an individual and/or community, in
            the public eye or in public to follow their chosen religion. This allows
            individuals to believe what they want, but id does not necessarily allow the
            right to practice te religion or belief openly and outwardly in a public manner.
            This right includes freedom to change one's religion or beliefs.
        </p>

        <h3>Privacy</h3>
        <p>
            Privacy is a persons ability to conceal themself of information about themsellf, meaning
            they are expressing themselves selectively.This is an element of various legal traditions to retrains states and private
            actions that threaten the privacy of all individuals. Violation of this right
            includes filming(and possibly airing) or taking pictures someone without their
            consent.
        </p>

        <h3>Basic education</h3>
        <p>
            Education is important. I cannot stress this enough. This does not mean you have to be able to
            do calculation off of the back of your head but you have to have some sort of generanl or basic
            knowledge about the things that abre bound to impact your everyday life. This includes being able to
            do general calculation, for transaction purposes, being able to write well in English, because it is
            one of the most used languages. It is used in letters, emails, job applications and the list goes on.
            Having a basic education equips you to be able to make thouroughly thought through decisions because you
            understand their consequences. This is crucial for the youth.
        </p>

        <h3>Equality</h3>
        <p>
            Equality can be defined as the state of being equal or fair. This means that no one should discriminate
            or be discriminated against regading any matter or situation and their dignity must always be upheld. In a society,
            having equal opportunities is important, however this is not the case because we have people from different
            backgrounds. Some are more advantaged than others. One must not discriminate against others because of their
            background, sex, religion or any other aspect that makes them different. There is beauty in diversity. Diversity
            means that there is a variety of something.
            <br />
            When everyone is this diverse, fairness and success also differs from person to person. Your idea of wealth
            and success is not the same as your peers. Equality and equity are two strategies that we can use to produce fairness.
            Equality aims to promote fairness, but this only works if everyone starts from the same place, and this is not the
            case. Equity is giving people what they need to succeed. Since everyone is different and we are encouraged to embrace our uniqueness,
            we need to redefine our basic expectations for fairness. Certain individuals are more privileged than others. People must
            acknowledge their priviledges.
        </p>

       

    </div>
</body>
</html>
