
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Rights</title>
    <link href="~/StyleSheet1.css" rel="stylesheet" />
</head>
<body>
    <div class="DIV"> 
        <h1>Rights</h1>
        <p>Human Rights guarentee people the means necessary to satisfy their basic needs, such as food, housing, and education, so they can take full advantage of all opportunities. Finally, by guaranteeing life, liberty, equality, and security, human rights protect people against abuse by those who are more powerful.</p>
        <br />
        <a href="@Url.Action("SubjectContent","Data")">Return to subject content page</a>

    </div>
</body>
</html>
