﻿
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>SubjectContent</title>
    <link href="~/StyleSheet1.css" rel="stylesheet" />
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
</head>
<body style="background-color:lightblue">
    <div class="DIV">
        <h1>Settings</h1>


        @using (Html.BeginForm("Account", "Login"))
        {
            <div class="flex-container">
                <div class="row">
                    <div class="col-*4* flex-item" style="width:400px;float:left">
                        <img class="card-img-top" style="width:250px;height:200px" src="https://zero1.sg/img/accountlogin-icon.png" alt="Account">
                        <div class="card-body">



                            <button type="submit" class="btn btn-primary btn-lg">Account</button>
                        </div>
                    </div>
                </div>
            </div>

        }

        @using (Html.BeginForm("About", "Data"))
        {
            <div class="flex-container">
                <div class="row">
                    <div class="col-*4* flex-item" style="width:400px;float:left">
                        <img class="card-img-top" style="width:250px;height:200px" src="https://cdn.onlinewebfonts.com/svg/img_152633.png" alt="About">
                        <div class="card-body">



                            <button type="submit" class="btn btn-primary btn-lg">About</button>
                        </div>
                    </div>
                </div>
            </div>

        }

        @using (Html.BeginForm("Help", "Data"))
        {
            <div class="flex-container">
                <div class="row">
                    <div class="col-*4* flex-item" style="width:400px;float:left">
                        <img class="card-img-top" style="width:250px;height:200px" src="https://previews.123rf.com/images/alexwhite/alexwhite1404/alexwhite140403609/27435031-help-icon.jpg" alt="Help">
                        <div class="card-body">



                            <button type="submit" class="btn btn-primary btn-lg">Help</button>
                        </div>
                    </div>
                </div>
            </div>


        }

        @using (Html.BeginForm("MainMenu", "Data"))
        {
            <div class="flex-container">
                <div class="row">
                    <div class="col-*4* flex-item" style="width:400px;float:left">
                        <img class="card-img-top" style="width:250px;height:200px" src="https://image.flaticon.com/icons/png/512/61/61449.png" alt="Back">
                        <div class="card-body">



                            <button type="submit" class="btn btn-primary btn-lg">Back</button>
                        </div>
                    </div>
                </div>
            </div>

        }
        <br />

    </div>
</body>
</html>
