﻿@model deliverable_2.Models.User
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ChangePassword</title>
    <link href="~/StyleSheet1.css" rel="stylesheet" />
</head>
<body>
    <div class="DIV">
        <h1>Change Password</h1>
        @using (Html.BeginForm("ChangePassword", "Login", FormMethod.Post))
        {
        <label>Current Password:</label><input type="text" onchange="CheckValid()" id="currentpass" /><p id="valid"></p>
        <br />
        <label>New Password:</label><input type="text" name="NewPassword"/>
        <br />
        <label>Confirm Password:</label><input type="text" />
        <br />
        
        <br />
        <button type="submit">Confirm</button>
        }
        <a href="@Url.Action("Account", "Login")" class="btn btn-primary">Back to account page</a>
    </div>

    <script>
        function CheckValid()
        {
            var Password = document.getElementById("currentpass");

                var Valid = @Model.Password;

                if (Password == Valid)
                {
                    document.getElementById("valid").innerHTML = "Match";
                }
                else
                {
                    document.getElementById("valid").innerHTML = "No Match";
                }

        }
    </script>
</body>
</html>
