﻿
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <link href="~/StyleSheet1.css" rel="stylesheet" />
    <meta charset="utf-8" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

</head>
<body class="bg-primary">
    <div style="text-align:center">
        <h2>A Marks The Spot</h2>
        @using (Html.BeginForm("Login", "Login", FormMethod.Post))
        {
            <p style="color:red">@Html.Raw(TempData["Empty"]) </p>
            <ul style="list-style-type: none;">
                <li>
                    <label>Username:</label>
                    <input type="text" name="username" autofocus="autofocus"  autocomplete="off" class="btn btn-success"/><br />
                </li>
                <li>
                    <label>Password :</label>
                    <input type="password" name="password" size="20" /><br />
                </li>

                <li>
                    <br />
                    <button class="btn btn-success" type="submit" onsubmit="Validate()"  style="height:20px; width:100px;">Login</button>
                </li>
            </ul>
        }

        @using (Html.BeginForm("SignUp", "Login", FormMethod.Get))
        {
            <ul style="list-style-type: none;">
                <li>
                    <button type="submit" style="height:20px; width:100px;" class="btn btn-success">Sign Up</button>
                </li>
            </ul>

        }
    </div>

    <script type="text/javascript">
  function validate() {
      var username = document.getElementsByName(username);
      var password = document.getElementsByName(password);

    if (username == null || username == "", password == null || password == "")
    {
        alert("Please Fill All Required Field");
        location.reload(true);
      return false;
    }
  }
    </script>

</body>
</html>
