﻿@model deliverable_2.Models.EducationEntities
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>PersonalInfo</title>
    <link href="~/StyleSheet1.css" rel="stylesheet" />
    <meta charset="utf-8" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</head>
<body class="bg-primary">
    <div style="text-align:center">
        <h2>Peronal Info</h2>


        @using (Html.BeginForm("PersonalInfo", "Login", FormMethod.Post))
        {
            <ul style="list-style-type: none;">
                <li>

                    <input type="text" name="Name" autocomplete="off" required placeholder="Name" />
                    <br />
                </li>
                <li>

                    <input type="text" name="Surname" autocomplete="off" required placeholder="Surname" />
                    <br />
                </li>
                <li>

                    <input type="text" name="Address1" autocomplete="off" required placeholder="Address" />
                    <br />
                </li>
                <li>

                    <input type="text" name="Suburb1" autocomplete="off" required placeholder="Suburb" />
                    <br />
                </li>
                <li>


                    <input type="text" name="City1" autocomplete="off" required placeholder="City" />
                    <br />
                </li>
                <li>

                    <input type="text" name="Province1" autocomplete="off" required placeholder="Province" />
                    <br />
                </li>
                <li>

                    <input type="text" name="Country1" autocomplete="off" required placeholder="Country" />

                </li>

                <li>
                    <button type="submit" class="btn btn-primary">Confirm</button>
                </li>
            </ul>
        }


        <ul>
            <li><button onclick="Confirmation()" class="btn btn-primary">Cancel</button></li>
        </ul>

    </div>

    <script>
        function Confirmation()
        {
            var Option = confirm("Redirect to Login Screen?")

            if (Option == true)
            {
                window.location.href = '@Url.Action("Login", "Login")'
            }

        }

    </script>
</body>
</html>
