﻿
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>SignUp</title>
    <link href="~/StyleSheet1.css" rel="stylesheet" />
    <meta charset="utf-8" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</head>

<body class="bg-primary">


    <div style="text-align:center">
        <h1>Sign Up</h1>

        @using (Html.BeginForm("SignUp", "Login", FormMethod.Post))
        {

            <span style="color:red">@Html.Raw(TempData["Error"]) </span>
            <br />
            <ul style="list-style-type: none;">
                <li>

                    <input type="text" name="Username" required size="20" autocomplete="off" placeholder="Username" />
                </li>
                <li>

                    <input type="text" name="Email" size="20" autocomplete="off" placeholder="Email" />
                </li>
                <li>

                    <input type="text" name="Cellphone" size="20" autocomplete="off" placeholder="Cellphone" />
                </li>
                <li>

                    <input id="Pass" type="password" name="Password" required size="20" autocomplete="off" placeholder="Password" />
                    <p src="https://img.icons8.com/ios-glyphs/2x/show-password.png" height="18px" width="18px" onmousedown="ViewPass()" onmouseup="HidePass()">show</p>

                </li>

                <li>
                    <br />
                    <button type="submit" style="height:20px; width:100px;" class="btn btn-success">Sign Up</button>
                </li>
            </ul>
        }

        <ul>
            <li>
                <form action="@Url.Action("Login", "Login")">
                    <button type="submit" style="height:20px; width:100px;" class="btn btn-success">Cancel</button>
                </form>
            </li>
        </ul>
    </div>


    <script>
        function ViewPass()
        {
            var x = document.getElementById("Pass");

            if (x.type === "password")
            {
                x.type = "text"
            }

        }

        function HidePass()
        {
            var x = document.getElementById("Pass");

            if (x.type === "text")
            {
                x.type = "password"
            }
        }
    </script>
</body>
</html>
