﻿@model deliverable_2.Models.Student
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>UpdateEmail</title>
    <link href="~/StyleSheet1.css" rel="stylesheet" />
</head>
<body>
    <div class="DIV">
        <h1>Update Email</h1>

        <label>Name:</label><input type="text" name="Name" value="@Model.Name"/>
        <br />
        <label>Surname:</label><input type="text" name="Surname" value="@Model.Surname"/>
        <br />
        <label>Email:</label><input type="text" name="Email" value="@Model.Email"/>
        <br />
        <label>Cellphone:</label><input type="text" name="Cellphone" value="@Model.Cellphone"/>
        <br />
        <a href="@Url.Action("Account","Login")">Back to account page</a>
        <br />
        @using (Html.BeginForm("Account", "Login"))
        {
            <button type="submit">Update</button>
        }
        <br />

    </div>
</body>
</html>
