﻿body { text-align:center; width:auto
}

table{ border-style:solid; width:150px;
 }

 table.center {
    margin-left:auto; 
    margin-right:auto;
  }

.float{float:right}

div{
    font-size:16px;
}

th{
    width:auto;
   border-style:solid;
   text-align:left;
   align-items:flex-end
}

td{width:150px; border-style:solid;}


p{
    font-family:'Times New Roman';
    font-size:16pt;
     
}

ul {
    text-align:center;
    list-style-position: inside;
}
.flex-item {
    height: 350px;
    width: 250px;
    background-color: white;
    text-align:center;
    margin: 15px;
    display:inline-block;
    border: 1px solid #000;
    box-shadow: 0px 5px 25px #aaa;
    border-radius: 10px;
}
.flex-container {
    display:flex;
    align-content:unset;
    float: left;
    width: 33.33%;
    padding: 5px;
    height:380px;
    background-color:lightblue;
    
}

img{
    width:200px;
    height:200px;

}
.link{
  line-height: 12px;
     width: 18px;
     font-size: 8pt;
     font-family: tahoma;
     margin-top: 1px;
     margin-right: 2px;
     position:inherit;
   top:0;
     right:0;
}
.btn-group button {
  background-color: #4CAF50; /* Green background */
  border: 1px solid green; /* Green border */
  color: white; /* White text */
  padding: 10px 24px; /* Some padding */
  cursor: pointer; /* Pointer/hand icon */
  float: left; /* Float the buttons side by side */
}
.btn-group button:not(:last-child) {
  border-right: none; /* Prevent double borders */
}

/* Clear floats (clearfix hack) */
.btn-group:after {
  content: "";
  clear: both;
  display: table;
}

/* Add a background color on hover */
.btn-group button:hover {
  background-color: #3e8e41;
}

.open-button {
  background-color: #555;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  opacity: 0.8;
  position: fixed;
  bottom: 23px;
  right: 28px;
  width: 280px;
}
.parent-div { text-align:center;}
.first_btn { display:inline-block; float:right;}
.third_btn { display:inline-block; float:right;}
.second_btn { display:inline-block; float:right;}

